.bgImage {
  position: fixed;
  object-fit: cover;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  color: rgb(20, 0, 73);
  padding: 5rem;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: {
      inline: 2rem;
      block: 10%;
    };
  }

  @media (min-width: 1600px) {
    padding: {
      inline: 20%;
      block: 15%;
    };
  }

@media (max-height: 480px) {
    & > section:nth-child(2) {
      display: none;
    }
  }

  // background
  animation: rotate 7s alternate-reverse infinite;
  backdrop-filter: blur(100px);
  background-position: center;
  background-color:hsla(202,90%,86%,1);
  background-image:
  radial-gradient(at 90% 38%, hsla(240,57%,59%,0) 0px, transparent 50%),
  radial-gradient(at 68% 10%, hsla(240,68%,49%,0.54) 0px, transparent 50%),
  radial-gradient(at 76% 81%, hsla(189,81%,60%,0.41) 0px, transparent 50%);
}

@keyframes rotate {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 450%;
  }
}


.pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: {
    inline: 2rem;
    block: 2rem;
  };
  height: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  // background: inherit;
  overflow: hidden;
  transition: scale .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    scale: 1.01;
    
  } 

  &:nth-child(2) {
    direction: ltr;
    padding: 2rem;
    background: rgb(20, 0, 73);
  }

  &:nth-child(2):before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .2);

  }

}

.pane:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .8);
  filter: blur(10px);
  margin: -20px;

 
 
}




.pane pre {
  font-size: 1.2rem;
  background-color: transparent;
  width: 100%;
  overflow-x: auto;
  border: none;
  box-shadow: none;
  code {
    word-break: keep-all !important;
    white-space: pre-line;
  }


  @media (max-width: 768px) {
    font-size: .8rem;
  }
    
  
}